body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#map {
  width:100%;
  height: 100%;
  margin: 0 auto;
}

#map-container {
  padding:0 10% 50px 10%;
  width:80%;
  height:600px;
}

.map-legend .swatch {
  width:20px;
  height:20px;
  float:left;
  margin-right:10px;
  }
.leaflet-popup-close-button {
  display: none;
  }
.leaflet-popup-content-wrapper {
  pointer-events: none;
  }

.YlOrBr .q0-5{
  fill:rgb(255,255,212)
}

.YlOrBr .q1-5{
  fill:rgb(254,217,142)
}

.YlOrBr .q2-5{
  fill:rgb(254,153,41)
}

.YlOrBr .q3-5{
  fill:rgb(217,95,14)
}

.YlOrBr .q4-5{
  fill:rgb(153,52,4)
}
